@model Tablero


<form asp-controller="Tablero" asp-action="CreateTablero">
    <div class="form-group">
        <label asp-for="@Model.Nombre">Nombre tablero:</label>
        <input asp-for="@Model.Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.IdUsuarioPropietario">ID user propietario:</label>
        <input asp-for="@Model.IdUsuarioPropietario" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion">Descripcion:</label>
        <input asp-for="@Model.Descripcion" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>