@{
    ViewData["Title"] = "Tableros";
}

@model tl2_tp10_2023_ezemrtz.ViewModels.ListarTablerosViewModel

<section class="tabIndexSection">
    <h3> Mis Tableros </h3>
    <a asp-controller="Tablero" asp-action="CreateTablero" class="btn btn-outline-dark margin" role="button">+ Nuevo Tablero</a>
</section>
<table class="table table-striped my-table">
    <thead>
        <th class="col1">Propietario</th>
        <th class="col2">Nombre</th>
        <th class="col3">Descripción</th>
        <th colspan="4" class="col4">Acciones</th>
    </thead>
    <tbody>
        @foreach(var tablero in Model.TablerosPropios){
            <tr>
                <td>@tablero.NombreUsuarioPropietario</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td><a asp-controller="Tarea" asp-action="Index" asp-route-id="@tablero.IdTablero" class="btn btn-outline-info">Ver</a></td>
                @if(@tablero.IdUsuarioPropietario == Context.Session.GetInt32("id") || Context.Session.GetString("rol") == NivelAcceso.administrador.ToString()){
                    <td><a asp-controller="Tablero" asp-action="UpdateTablero" asp-route-id="@tablero.IdTablero" class="btn btn-outline-primary">Modificar</a></td>
                    <td><a asp-controller="Tablero" asp-action="DeleteTablero" asp-route-id="@tablero.IdTablero" class="btn btn-outline-danger" onclick="return confirm('¿Estas seguro que quieres eliminar el tablero? IMPORTANTE: Al hacerlo se eliminaran todas las tareas del mismo')">Eliminar</a></td>
                    <td><a asp-controller="Tarea" asp-action="CreateTarea" asp-route-id="@tablero.IdTablero" class="btn btn-outline-success">Agregar Tarea</a></td>
                }else{
                    <td></td>
                    <td></td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
@if(Model.TablerosAjenos.Count != 0){
    <h3>Tableros con tareas asignadas</h3>
    <table class="table table-striped my-table">
        <thead>
            <th class="col1">Propietario</th>
            <th class="col2">Nombre</th>
            <th class="col3">Descripción</th>
            <th colspan="4" class="col4">Acciones</th>
        </thead>
        <tbody>
            @foreach(var tablero in Model.TablerosAjenos){
                <tr>
                    <td>@tablero.NombreUsuarioPropietario</td>
                    <td>@tablero.Nombre</td>
                    <td>@tablero.Descripcion</td>
                    <td><a asp-controller="Tarea" asp-action="Index" asp-route-id="@tablero.IdTablero" class="btn btn-outline-info">Ver</a></td>
                    @if(@tablero.IdUsuarioPropietario == Context.Session.GetInt32("id") || Context.Session.GetString("rol") == NivelAcceso.administrador.ToString()){
                        <td><a asp-controller="Tablero" asp-action="UpdateTablero" asp-route-id="@tablero.IdTablero" class="btn btn-outline-primary">Modificar</a></td>
                        <td><a asp-controller="Tablero" asp-action="DeleteTablero" asp-route-id="@tablero.IdTablero" class="btn btn-outline-danger" onclick="return confirm('¿Estas seguro que quieres eliminar el tablero? IMPORTANTE: Al hacerlo se eliminaran todas las tareas del mismo')">Eliminar</a></td>
                        <td><a asp-controller="Tarea" asp-action="CreateTarea" asp-route-id="@tablero.IdTablero" class="btn btn-outline-success">Agregar Tarea</a></td>
                    }else{
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
@if(Context.Session.GetString("rol") == NivelAcceso.administrador.ToString() && Model.Tableros.Count != 0){
    <h3>Resto de tableros</h3>
    <table class="table table-striped my-table">
        <thead>
            <th class="col1">Propietario</th>
            <th class="col2">Nombre</th>
            <th class="col3">Descripción</th>
            <th colspan="4" class="col4">Acciones</th>
        </thead>
        <tbody>
            @foreach(var tablero in Model.Tableros){
                <tr>
                    <td>@tablero.NombreUsuarioPropietario</td>
                    <td>@tablero.Nombre</td>
                    <td>@tablero.Descripcion</td>
                    <td><a asp-controller="Tarea" asp-action="Index" asp-route-id="@tablero.IdTablero" class="btn btn-outline-info">Ver</a></td>
                    <td><a asp-controller="Tablero" asp-action="UpdateTablero" asp-route-id="@tablero.IdTablero" class="btn btn-outline-primary">Modificar</a></td>
                    <td><a asp-controller="Tablero" asp-action="DeleteTablero" asp-route-id="@tablero.IdTablero" class="btn btn-outline-danger" onclick="return confirm('¿Estas seguro que quieres eliminar el tablero? IMPORTANTE: Al hacerlo se eliminaran todas las tareas del mismo')">Eliminar</a></td>
                    <td><a asp-controller="Tarea" asp-action="CreateTarea" asp-route-id="@tablero.IdTablero" class="btn btn-outline-success">Agregar Tarea</a></td>
                    
                </tr>
            }
        </tbody>
    </table>
}
