@{
    ViewData["Title"] = "Home Page";
}

@model List<Tarea>

<h2> Lista de Tareas </h2>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Id Tablero</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Color</th>
        <th>Estado</th>
    </thead>
    <tbody>
        @foreach(var tarea in Model){
            <tr>
                <td>@tarea.Id</td>
                <td>@tarea.IdTablero</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Estado</td>
            </tr>
        }
    </tbody>
</table>