@{
    ViewData["Title"] = "Usuarios";
}

@model tl2_tp10_2023_ezemrtz.ViewModels.ListarUsuariosViewModel

@if(Context.Session.GetString("rol") == NivelAcceso.administrador.ToString()){
    <h2> Lista de Usuarios </h2>
}else{
    <h2> Mi Perfil </h2>
}
<table class="table table-striped my-table">
    <thead>
        <th>Nombre</th>
        <th>Rol</th>
        <th colspan="2">Acciones</th>
    </thead>
    <tbody>
        @foreach(var usuario in Model.Usuarios){
            <tr>
                <td>@usuario.NombreDeUsuario</td>
                <td>@usuario.Rol</td>
                <td><a asp-controller="Usuario" asp-action="UpdateUser" asp-route-idUser="@usuario.Id" class="btn btn-outline-primary">Modificar</a></td>
                @if(!(@Model.UsuarioLogueado.Id == usuario.Id)){
                    <td><a asp-controller="Usuario" asp-action="DeleteUser" asp-route-idUser="@usuario.Id" class="btn btn-outline-danger" onclick="return confirm('¿Estas seguro que quieres eliminar el usuario? IMPORTANTE: Al hacerlo se eliminaran todos sus tableros y por consiguiente las tareas del mismo')">Eliminar</a></td>
                }else{
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>